[submodule "uart_socket"]
	path = uart_socket
	url = ../../hc/uart_socket.git
[submodule "seos_libs"]
	path = seos_libs
	url = ../../hc/seos_libs.git
[submodule "TinyFrame"]
	path = TinyFrame
	url = ../../ext/tinyframe.git
[submodule "picotcp"]
	path = picotcp
	url = ../../ext/picotcp.git
[submodule "picotcp-bsd"]
	path = picotcp-bsd
	url = ../../ext/picotcp-bsd.git
	branch = picobsd_changes_mqtt_proxy
