[submodule "uart_socket"]
	path = uart_socket
	url = ssh://git@bitbucket.hensoldt-cyber.systems:7999/hc/uart_socket.git
[submodule "seos_libs"]
	path = seos_libs
	url = ssh://git@bitbucket.hensoldt-cyber.systems:7999/hc/seos_libs.git
[submodule "TinyFrame"]
	path = TinyFrame
	url = ssh://git@bitbucket.hensoldt-cyber.systems:7999/ext/tinyframe.git
